body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', sans-serif;
  background-color: rgb(26, 29, 41);
  background-image: url("./assets/home-background.png") center center / no-repeat;
  color: white;
  z-index: -1;
}
